*.7z
*.zip
*.dsm
__history\*
__history/*
__recovery\*
__recovery/*
site/*
site\*
setup\*
setup/*
ModelSupport_logix\*
ModelSupport_logix/*
bin\*
bin/*
arc\*
arc/*
help\*
help/*
*.tvsconfig
*.ddp
*.local
*.dcu
*.identcache
*.~*
*.bdsproj
.git_status